<%= form_with url: ssh_path, local: true, method: :post do %>
  <h1><%= label_tag "Select Host" %></h1>
  </br>

  <%= select_tag "select_host", options_for_select(Host.all.map { |host| [  host.hostname, host.hostIP] }), prompt: 'Choose One' %>
  <%= submit_tag "Add User" %>
<% end %>

<%= link_to 'Back', users_path %>

