<h1 class="text-center mt-4"><%= @user.username %></h1>
<p>Email: <%= @user.email %></p>
<p>Public Key: <%= @user.public_key %></p>
<%= link_to "Back", users_path %>
</br>
<% if logged_in? && @user = current_user %>
  <%= link_to "Edit", edit_user_path(@user) %>
<% end %>
</br>
<%= link_to "Logout", logout_path, method: :delete %>
</br>
<%= link_to "Add_host", ssh_path %>